@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.experiences-container {
  display: grid;
  grid-gap: 2em; /* Add some gap between rows and columns */
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Create a flexible number of columns */
  grid-auto-rows: 10px; /* Initially set to 0, will be set dynamically */
  margin: 0px 80px -40px 80px;
  position: relative;
}

.experience-card {
  background-color: var(--card-color);
  opacity: 0.8;
  border-radius: 15px;
  padding: 30px 25px 3px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: max-content;
  margin-bottom: 30px 
}

.exp-heading {
  position: relative;
  top: 8%;
  left: 6%;
  margin-bottom: 80px;
  margin-top: 40px;
}

.company-logo {
  max-height: 100px;
  margin-left: -15px;
  margin-right: 10px;
  margin-top: -10px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
  margin-top: -10px;
}

#git-row {
  justify-content: space-between;
}

.experience-role {
  color: var(--text-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.experience-company,
.experience-time {
  color: var(--text-color);
  margin-right: 10px;
  margin-bottom: 12px;
  font-weight: 700;
}

.experience-description {
  color: var(--text-color);
  font-weight: 500;
  margin-top: 0px;
}

/* Skill List */
.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.skill {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px; 
  font-weight: 700;
  margin: 5px 5px 5px 0px;
}

.github-container {
  position: absolute;
  bottom: 10px; /* Adjust the value as per your design */
  right: 10px; /* Adjust the value as per your design */
}

.github-logo {
  width: 25px; /* Adjust the size as needed */
  height: auto;
  cursor: pointer;
  opacity: 80%;
}