@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

.experiences-container {
  column-count: 3;
  column-gap: 3rem;
  padding: 1rem;
  max-width: 1500px; 
  margin: 0px 70px;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

.row {
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.col{
  display: flex;
  align-items: center;
}

/* Experience Card */
.experience-card {
  /* Break inside avoid to prevent cards from being split across columns */
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;

  background-color: var(--card-color);
  opacity: 0.8;
  border-radius: 15px;
  padding: 5px 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  margin-bottom: 3rem;
  display: inline-block; /* Allows the card to respect the column layout */

}

.experience-role {
  color: var(--text-color);
  margin-bottom: -10px;
}

.experience-company,
.experience-time {
  color: var(--text-color);
  margin-right: 10px;
  margin-bottom: 2px;
}

.experience-description {
  color: var(--text-color);
  font-weight: 500;
  margin-top: 0px;
}

/* Skill List */
.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.skill {
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px; 
  font-weight: 700;
  margin: 5px 5px 5px 0px;
}