.experiences-container {
  column-count: 3;
  column-gap: 2rem;
  padding: 2rem;
  max-width: 1200px; /* Adjust the width as necessary */
  margin: auto;
}

/* Experience Card */
.experience-card {
  /* Break inside avoid to prevent cards from being split across columns */
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;

  background-color: #10324B;
  opacity: 0.8;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: white;
  margin-bottom: 2rem;
  display: inline-block; /* Allows the card to respect the column layout */

}

.experience-role {
  color: white;
}

.experience-company,
.experience-time {
  color: white;
}

.experience-description {
  color: white;
}

/* Skill List */
.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}


.skill {
  background-color: #56CCF2; 
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 14px; 
  margin: 5px 5px 5px 0px;
}