@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
  font-family: 'Argent Pixel CF';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/ArgentPixelCF-Regular.otf');
}

@font-face {
  font-family: 'Argent Pixel CF';
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/ArgentPixelCF-Italic.otf');
}

#landing-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
  z-index: 3;
}

#title {
  margin-top: -30px;
  margin-bottom: -5px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 100;
}

#landing-art {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 2;
}

#art {
  width: 100%;
  height: auto;
  max-height: 60%;
  object-fit: cover;
}

#window {
  opacity: 80%;
  position: absolute;
  top: 50%;
  left: 33%;
}

#health-bar {
  position: absolute;
  top: 33%;
  left: 22%;
}

#chat {
  position: absolute;
  top: 30%;
  right: 16%;
}

#coin-container {
  position: absolute;
  bottom: 20%;
  right: 28%;
}

.coin {
  position: relative;
  animation: coin-animation 5s linear infinite;
  opacity: 0;
}

#coin1 {
  top: 10%;
  animation-delay: 2300ms;
}

#coin2 {
  top: 20%;
  animation-delay: 0s;
}

#coin3 {
  top: 30%;
  animation-delay: 1700ms;
}

@keyframes coin-animation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(-200%); /* Adjust the vertical movement */
  }
  70% {
    opacity: 0;
    transform: translateY(-250%); /* Adjust the vertical movement */
  }
  71% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}